header {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    background-color: #718874;
    text-align: center;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    margin-top: 125px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color:white;
    text-align: center;
    font-size: x-large;
}

h1 {
    color:#070e08;
    font-size: xx-large;
    font-weight: 500;
}

h5 {
    color:white;
    font-size: medium;
}

p {
    color:#070e08;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

table {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

td.main {
    color:#070e08;
    font-size: x-large;
    padding-bottom: 50px;
}

td {
    color:#070e08;
    width: 400px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    background-color: #374138;
    text-align: center;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

form {
    display: inline-block; 
}

input, textarea, label, select {
    text-align: center;
    display: block;
    margin: 15px 0px; 
    width: 400px; 
}

textarea {
    height: 100px;
}

button {
    text-align: center;
    width: 400px; 
    border-radius: 10px;
    background-color: #4d564f;
    height: 30px; 
    color: white;
}

button:hover {
    background-color: #070e08;
}

button:active {
    background-color: #718874;
}